<%= render "shared/second-header" %>

<div class="travel-contents">
  <h3 class="travel-header-sub">旅行の記録を作成</h3>
  <%= form_with model: @travel, url: "/travels/#{@travel.id}", local: true do |f| %>
  <div class="travel-content">
    <div class="weight-bold-text">
      タイトル
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :travel_title, class:"travel_text", id:"travel_title", placeholder:"タイトルを入力してください", maxlength:"40" %>
  </div>
  <div class="travel-content">
    <div class="img-upload">
      <div class="weight-bold-text">
        アイキャッチ
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
  </div>
  <div class="travel-content">
    <div class="weight-bold-text">
      期間
      <span class="indispensable">必須</span>
    </div>
    <%= f.date_field :travel_time_one, placeholder: "day", class:"time-select-box" %>
    〜
    <%= f.date_field :travel_time_two, placeholder: "day", class:"time-select-box" %>
  </div>
  <div class="travel-content">
    <div class="weight-bold-text">
      旅行先
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:destination_id, Destination.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="travel-content">
    <div class="weight-bold-text">
      交通手段
      <span class="indispensable">任意</span>
    </div>
    <%= f.collection_select(:transportation_id, Transportation.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  <div class="sell-btn-contents">
    <%= f.submit "投稿する" ,class:"sell-btn" %>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>