<%= render "shared/header" %>

<div class="index-main">
  <%# 画面上部帯表示部分 %>
  <div class="main">
    <div class="title-contents">
      <div class="title-contents-one">
        <h1>
          旅の思い出をみんなで共有
        </h1>
        <h3>
          あなたの旅はどんなもの？<br>
          あなたの思い出が次は誰かの旅になる。
        </h3>
      </div>
      <div class="title-contents-two">
        <h1>
          新しい旅を見つけよう！
        </h1>
        <h3>
          次はどこに行こうかな？<br>
          悩む時間も楽しくて。
        </h3>
      </div>
    </div>
    <%= link_to(new_travel_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'icon_010650_128.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  </div>

  <%= render "shared/search-form" %>
  
  <%# タグ一覧%>
  <div class="tag-index">タグ一覧</div>
    <ul class="tag_lists">
      <% @tag_list.each do |list| %>
        <% unless list.travels.count == 0 %>
        <li class="tag_lists_sub">
          <%= link_to list.tag_name, tag_travels_path(tag_id: list.id) %>
          <%= "(#{list.travels.count})" %>
        </li>
        <% end %>
      <% end %>
    </ul>

  <%# 投稿一覧 %>
  <div class="newest"><%= "全#{@travel.count()}件中#{@travels.count()}件を表示" %></div>
  <ul class="lists">
    <% @travels.each do |travel| %>
    <li class='list'>
      <%= link_to "/travels/#{travel.id}" do %>
        <div class='travel-img-content'>
          <%= image_tag travel.image, class: "travel-img" %>
        </div>
      <% end %>
      <div class='travel-info'>
        <div class='travel-title'>
          <%= travel.travel_title %>
        </div>
        <div class="travel-gone">
          <div class="travel-destination">
            <%= travel.destination.name %>
          </div>
          <div class="travel-time">
            <%= travel.travel_time_one %> 〜 <%= travel.travel_time_two %>
          </div>
        </div>
        <div class="travel_user">
          <div class="travel-avatar">
            <% if travel.user.avatar.attached? %>
              <%= image_tag travel.user.avatar, class:"sample-user-icon" %>
            <% else %>
              <%= image_tag "camera.png", class:"sample-user-icon" %>
            <% end %>
          </div>
          <p class="mb-3">評価：</p>
          <div id="star-rate-<%= travel.id %>", class="star"></div>
          <script>
            $('#star-rate-<%= travel.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              score: <%= travel.rate %>,
            });
          </script> 
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <%= paginate(@travels) %>
</div>

<%= render "shared/footer" %>