<h2><%= link_to "投稿一覧", root_path %></h2>
<%# タグ一覧 %>
<div class="tag-search">
<ul class="tag_lists">
<% @tag_list.each do |list| %>
  <span>
  <% unless list.travels.count == 0 %>
  <li class="tag_lists_sub">
    <%= link_to list.tag_name, tag_travels_path(tag_id: list.id) %>
    <%= "(#{list.travels.count})" %><br>
  </li>
  <% end %>
  </span>
<% end %>
</ul>

<%# 検索結果一覧 %>
</div>
<%= "タグが - " %>
  <strong><%= "#{@tag.tag_name}" %>
<%= " - の投稿者一覧" %><br>
<% @travels.each do |travel| %>
  <%= link_to "/travels/#{travel.id}" do %>
    <div class='travel-img-content'>
      <%= image_tag travel.image, class: "travel-img" %>
    </div>
  <% end %>
  <%= travel.travel_title %>
  <%= travel.user.nickname %>
<% end %>
<%= paginate(@travels) %>