<%= render "shared/second-header" %>

<div class="show_contents">
  <div class="show_main">
    <div class="travel-photo">
      <%= image_tag @travel.image , class:"travel-photo_sub" %>
    </div>
    <div>タグ</div>
    <% @travel_tags.each do |tag| %>
      <span><%= link_to tag.tag_name, tag_travels_path(tag_id: tag.id) %>
      <%= "(#{tag.travels.count})" %>
    <% end %>
    <div class="travel_title_show">
      <%= @travel.travel_title %>
    </div>
  </div>  
  <div class="travel_comment">
    <p class="travel_times">旅行期間</p>
    <div class="travel_time_main">
      <%= @travel.travel_time_one %> 〜 <%= @travel.travel_time_two %>
    </div>

    <% if user_signed_in? && current_user.id == @travel.user_id && !@impression.present? %>
    <div class="impression-form">
      <%= form_with(model: [@travel, @travel_impression], local: true) do |form| %>
        <%= form.text_area :impression, placeholder: "旅行の感想を書こう", class:"impression" %>
        <%= form.file_field :images, multiple: true, class:"impression_image_form" %>
        <%= form.submit "送信する", class:"impressino_submit_btn" %>
      <% end %>
    </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @travel.user_id && @impression.present? %>
      <%= link_to "コメントを編集する", edit_travel_travel_impression_path(@impression.id) %>
    <% end %>
    <% if @impression.present? %>
      <div class="container">
        <div class="btn btn-prev js-prev-btn"></div>
        <div class="btn btn-next js-next-btn"></div>
        <div class="slider-container">
          <ul class="slider-list js-slider-container">
            <% @impression.images.each do |image| %>
              <li class="slider-item js-slider-item"><%= image_tag image, class:"impression_image" %></li>
            <% end%>
          </ul>
        </div>
      </div>
      <div class="travel-comments">
        <div class="travel-comment">
          <%= image_tag("memory.png") %>
        </div>
        <div class="travel-comments_sub">
          <%= @impression.impression %>
        </div>
      </div>
    <% else %>
      <h1>画像は投稿されていません</h1>
    <% end %>
  </div>
</div>

<footer class="footer">
  <%= render "shared/footer" %>
</footer>