<header class='top-page-header'>
  <div class="header-main">
    <%= link_to image_tag("title-logo.png", class: "logo"), root_path %>
  </div>
  <div class="avatar-name">
    <div class="travel-avatar">
      <%= link_to "/users/#{current_user.id}" do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class:"sample-user-icon" %>
        <% else %>
          <%= image_tag "camera.png", class:"sample-user-icon" %>
        <% end %>
      <% end %>
    </div>
    <h3><%= current_user.nickname %></h3>
  </div>
  <div class="hamburger-menu">
      <input type="checkbox" id="menu-btn-check">
      <label for="menu-btn-check" class="menu-btn"><span></span></label>
      <div class="menu-content">
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= current_user.nickname %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'マイページ', "/users/#{current_user.id}" %></li>
            <li><%= link_to 'アカウント編集', edit_user_registration_path(current_user.id) %>
            <li><%= link_to 'ブックマーク', "#" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
</header>
