<header class='second-header'>
  <div class="second-header_main">
    <%= link_to image_tag("title-logo.png", class:"second-logo"), root_path %>
  </div>

  <%#　詳細ページ・ヘッダー右サイド表示文字　%>
  <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
    <% if current_page?("/travels/#{@travel.id}") && user_signed_in? && current_user.id == @travel.user.id %>
    <ul class="page_btn_list">
      <li><%= link_to "編集", edit_travel_path(@travel.id), class:"page_btn" %></li>
      <li><%= link_to "削除", travel_path(@travel.id), method: :delete, class:"page_btn" %></li>
    </ul>
    <% else %>
      <% if current_page?("/travels/#{@travel.id}") && user_signed_in? && current_user.id != @travel.user.id %>
        <% if @travel.favorited_by?(current_user) %>
          <td><%= link_to "ブックマークを外す", travel_favorite_path(@travel), method: :delete, class:"favorite_break" %></td>
        <% else %>
          <td><%= link_to "ブックマーク", travel_favorites_path(@travel), method: :post, class:"favorite_entry" %></td>
        <% end %>
      <% end%>
    <% end %>
  <% end %>
</header>