<%= render "shared/second-header" %>

<div class="impression-form">
  <%= form_with(model: [@travel, @travel_impression], local: true) do |form| %>
    <%= form.text_area :impression, placeholder: "旅行の感想を書こう", class:"impression" %>
    <div class="btn-lists">
      <%= form.label :images, "写真を選択", class:"image_input_btn" %>
      <%= form.file_field :images, multiple: true, class:"image_form" %>
      <%= form.submit "送信する", class:"impression_submit_btn" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>