<%= render "shared/header" %>

<%= render "shared/search-form" %>

<div class="search-result">
  <% if @users.present? || @travels.present? %>
    <% if @range == "User" %>
      <ul class="user-lists">
        <% @users.each do |user| %>
          <div class="user-list">
            <%= link_to "/users/#{user.id}" do %>
              <% if user.avatar.attached? %>
                <li class="my-icon" ><%= image_tag user.avatar, class:"my-icon_s" %></li>
                <li><%= user.nickname %></li>
              <% else %>
                <li class="my-icon" ><%= image_tag "camera.png", class:"sample-user-icon" %></li>
                <li><%= user.nickname %></li>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= paginate(@users) %>
      </ul>
    <% else %>
        <ul class="lists">
          <% @travels.each do |travel| %>
            <li class='list'>
              <%= link_to "/travels/#{travel.id}" do %>
                <div class='travel-img-content'>
                    <%= image_tag travel.image, class: "travel-img" %>
                </div>
                <%= travel.travel_title %>
              <% end %>
            </li>
          <% end %>
          <%= paginate(@travels) %>
        </ul>
    <% end %>
  <% else %>
    <h2 class="no-result">検索結果はありませんでした</h2>
  <% end %>
</div>
<%= render "shared/footer" %>