<%= render "shared/header" %>

<%= render "shared/search-form" %>

<table class="table table-hover table-inverse">
  <% if @users.present? || @travels.present? %>
    <% if @range == "User" %>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
          </tr>
        <% end %>
        <%= paginate(@users) %>
      </tbody>
    <% else %>
        <ul class="lists">
          <% @travels.each do |travel| %>
            <li class='list'>
              <%= link_to "/travels/#{travel.id}" do %>
                <div class='travel-img-content'>
                    <%= image_tag travel.image.variant(resize: "300x300"), class: "travel-img" %>
                </div>
                <%= travel.travel_title %>
              <% end %>
            </li>
          <% end %>
        </ul>
    <% end %>
  <% else %>
    検索結果はありませんでした
  <% end %>
</table>
<%= paginate(@travels) %>
<%= render "shared/footer" %>