<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="second_footer.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
